.wrapper-article-ads article
{text-align:center}
#stage-home .wrapper-article-ads article figure
{margin:0 auto}
#stage-home .wrapper-article-ads article figure img
{width:100%;height:auto}
#stage-home .wrapper-article-ads .category-white
{padding-top:15px}
#stage-home .wrapper-article-ads .category-white .icon-type
{bottom:initial;top:-60px}
.ads-bar-sticky{top:6em;position:sticky;margin-left:10px;display:none;background-color:#f2f8f8}
@media(min-width: 993px)
{
    .ads-bar-sticky{display:inline-block;width:320px}

    <article>
        <a href="https://www.actitudfem.com/celebridades/bellakath-asegura-que-su-musica-no-es-para-educar">
          <figure>
                        <picture>
            <source media="(max-width:500px)" type="image/webp" srcset="https://cdn2.actitudfem.com/250x250/filters:format(webp):quality(75)/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
              <source type="image/webp" srcset="https://cdn2.actitudfem.com/405x405/filters:format(webp):quality(75)/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
              <source media="(max-width:768px)" srcset="https://cdn2.actitudfem.com/media/files/styles/1x1_small/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
              <img itemprop="image" alt="Bellakath" src="https://cdn2.actitudfem.com/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg" width="400" height="400">
            </picture>
            <span class="position-absolute category-white">
                            <span class="category-item">Celebridades</span>
              <span class="separator-item sep-tax-6"></span>
            </span><article>
            <a href="https://www.actitudfem.com/celebridades/bellakath-asegura-que-su-musica-no-es-para-educar">
              <figure>
                            <picture>
                <source media="(max-width:500px)" type="image/webp" srcset="https://cdn2.actitudfem.com/250x250/filters:format(webp):quality(75)/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
                  <source type="image/webp" srcset="https://cdn2.actitudfem.com/405x405/filters:format(webp):quality(75)/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
                  <source media="(max-width:768px)" srcset="https://cdn2.actitudfem.com/media/files/styles/1x1_small/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg">
                  <img itemprop="image" alt="Bellakath" src="https://cdn2.actitudfem.com/media/files/styles/1x1_medium/public/images/2023/10/bellakath-explica-que-su-musica-no-es-para-ensenar-es-para-bailar.jpg" width="400" height="400">
                </picture>
                <span class="position-absolute category-white">
                                <span class="category-item">Celebridades</span>
                  <span class="separator-item sep-tax-6"></span>
                </span>
              </figure>
            </a>
            <div class="shadow-sm">
              <h2><a href="https://www.actitudfem.com/celebridades/bellakath-asegura-que-su-musica-no-es-para-educar">Bellakath pone en su lugar a los ‘haters’; asegura que su música es para bailar, no para educar</a></h2>
            </div>
          </article>
          </figure>
        </a>
        <div class="shadow-sm">
          <h2><a href="https://www.actitudfem.com/celebridades/bellakath-asegura-que-su-musica-no-es-para-educar">Bellakath pone en su lugar a los ‘haters’; asegura que su música es para bailar, no para educar</a></h2>
        </div>
      </article>


      #stage-home{margin:0 auto;max-width:1140px}#stage-home .
      
      .wrapper-article-ads
      {gap:0px;display:grid;grid-template-columns:repeat(4, minmax(200px, 1fr))}*****************


      #stage-home .wrapper-article-ads article{text-align:center}
      #stage-home .wrapper-article-ads article figure{margin:0 auto}
      #stage-home .wrapper-article-ads article figure img{width:100%;height:auto}
      #stage-home .wrapper-article-ads .category-white{padding-top:15px}
      #stage-home .wrapper-article-ads .category-white .icon-type{bottom:initial;top:-60px}
      .ads-bar-sticky{top:6em;position:sticky;margin-left:10px;display:none;background-color:#f2f8f8}